 {{diagnostics}}<!-- diagnostic not working -->
    <form #theForm="ngForm" name="ng2Form" id="ng2Form">
        <input [(ngModel)]="ng2Form.fname"
            name="fname" id="fname"
            type="text"
            required
            placeholder="First name" />
        <input [(ngModel)]="ng2Form.lname"
            name="lname" id="lname"
            type="text"
            required
            placeholder="Last name" />
         <!--<div [hidden]="lname.valid || lname.pristine">Last name is required</div>-->
        <button (click)="showModel($event)"
            [disabled]="!theForm.form.valid || theForm.form.pristine"
            type="button">Sumbit</button>
        <hr>
    </form>
