<div>
    <h1>Offer Component</h1>
    <p>{{details.title}}</p>
    <hr>
    <div class="segment-title">
        <h2 id="availability-header" class="title-main">
            Choose your room
        </h2>
        <div id="availability-wizard-container">WizardView goes here</div>
    </div>
    <article class="segment no-target segment-title rooms-and-rates-segment">
        <!-- offers -->
        <!--{{!RoomsAndRatesView}}-->

        <table>
            <thead id="rooms-header">
            <tr>
                <th id="room-type-header">Room Type</th>
                <th id="rate-features-header">Options</th>
                <th *ngIf="offers.displayExpediaRewardsColumn" id="rewards-header">
                    Expedia+
                </th>
                <!--<#if roomsAndRates.isPriceDisplayTotal()>-->
                <th id="avg-rate-header">Avg rate per night</th>
                <th id="book-button-header">
                    <span class="visuallyhidden">Book</span></th>
            </tr>
            </thead>

            <!-- each room -->
            <tbody *ngFor="let room of offers.rooms; let i = index"
                   class="room room-above-fold"
                   [ngClass]="{'first-room-featured': room.showBestValue, 'single-offer-room': room.isSingleOfferRoom}">
            <tr *ngIf="room.name" class="rooms-and-rates-margin">
                <td [attr.colspan]="offers.descripColspan">
                    <hr/>
                    margin {{offers.descripColspan}}
                </td>
            </tr>
            <tr class="rate-plan"
                [ngClass]="{'rate-plan-first': room.offers[0].isFeaturedOffer}">

                <td [attr.rowspan]="room.offerCount" class="room-info">
                    DUMMY DATA - {{room.offers[0].isFeaturedOffer}}
                    <hr/>
                    <!--<room-thumbnail [photos]="room.photos" [room]="room"></room-thumbnail>-->
                    <room-basic-info [room]="room"></room-basic-info>

                    <!-- CLOSING TD FOR DEV -->
                </td>
            </tr>
            <!-- td: rate-features -->

            <!-- td: expedia-rewards -->
            <!-- td: avg-rate -->
            <!-- td: book-button-column -->
            <!-- td: book-button-column -->


            <!--</td>-->
            <!--{{/unless}}-->

            <!--<td class="rate-features">-->
            <!--{{#if mrp}}-->
            <!--{{> mrp-deal-template this}}-->
            <!--{{else}}-->
            <!--{{> rate-features-template this}}-->
            <!--{{/if}}-->
            <!--</td>-->

            <!--<#&#45;&#45; Rewards Member Coupon (Expedia.com loyalty) &ndash;&gt;-->
            <!--{{#if ../../displayExpediaRewardsColumn}}-->
            <!--<td class="expedia-rewards">-->
            <!--{{> rewards-member-coupon-template this}}-->
            <!--</td>-->
            <!--{{/if}}-->
            <!--<td class="avg-rate">-->
            <!--{{#if bookable}}-->
            <!--<#&#45;&#45; Room pricing &ndash;&gt;-->
            <!--{{> room-pricing-template this}}-->

            <!--<#&#45;&#45; Room deal message &ndash;&gt;-->
            <!--{{> room-deal-message-template this}}-->

            <!--<#&#45;&#45; TAAP WRAPPER START: Display show commission link if it is a taap user&ndash;&gt;-->
            <!--{{#if displayTaapContent}}-->
            <!--{{> taap-commission-tooltip-template this}}-->
            <!--{{/if}}-->
            <!--<#&#45;&#45; TAAP WRAPPER END&ndash;&gt;-->

            <!--{{else}}-->
            <!--<#&#45;&#45; Room unavailable message &ndash;&gt;-->
            <!--{{> room-unavailable-message-template this}}-->
            <!--{{/if}}-->
            <!--</td>-->

            <!--<td class="book-button-column">-->
            <!--{{#if bookable}}-->
            <!--{{#if mrp}}-->
            <!--{{> mrp-book-button-template this}}-->
            <!--{{else}}-->
            <!--{{#if payLaterOffer}}-->
            <!--{{> etp-book-button-template this}}-->
            <!--{{else}}-->
            <!--{{#if depositOffer}}-->
            <!--{{> etp-book-button-template this}}-->
            <!--{{else}}-->
            <!--{{> book-button-template this}}-->
            <!--{{/if}}-->
            <!--{{/if}}-->
            <!--{{/if}}-->
            <!--{{/if}}-->
            <!--</td>-->
            <!--</tr>-->
            <!--{{/each}}-->


            </tbody>
        </table>
    </article>
</div>
