<div>
    <h1>Offer Component</h1>
    <p>{{details.title}}</p>
    <hr>
    <div class="segment-title">
        <h2 id="availability-header" class="title-main">
            Choose your room
        </h2>
        <div id="availability-wizard-container">WizardView goes here</div>
    </div>
    <article class="segment no-target segment-title rooms-and-rates-segment">
        <!-- offers -->
        <!--{{!RoomsAndRatesView}}-->

        <table>
            <thead id="rooms-header">
            <tr>
                <th id="room-type-header">Room Type</th>
                <th id="rate-features-header">Options</th>
                <th *ngIf="offers.displayExpediaRewardsColumn" id="rewards-header">
                    Expedia+
                </th>
                <!--<#if roomsAndRates.isPriceDisplayTotal()>-->
                <th id="avg-rate-header">Avg rate per night</th>
                <th id="book-button-header">
                    <span class="visuallyhidden">Book</span></th>
            </tr>
            </thead>

            <!-- each room -->
            <tbody *ngFor="let room of offers.rooms; let i = index"
                   class="room room-above-fold"
                   [ngClass]="{'first-room-featured': room.showBestValue, 'single-offer-room': room.isSingleOfferRoom}">

            <tr *ngIf="room.name" class="rooms-and-rates-margin">
                <td [attr.colspan]="offers.descripColspan">
                    <hr/>
                </td>
            </tr>

            <tr class="rate-plan"
                [ngClass]="{'rate-plan-first': room.offers[0].isFeaturedOffer}">
                <td [attr.rowspan]="room.offerCount" class="room-info">

                    <room-type [room]="room"></room-type>

                </td>

                <td class="rate-features">

                    <options [room]="room"></options>

                </td>

                <!--<expeida-plus [room]="room"></expeida-plus>-->
                <!--<avg-rate-per-night [room]="room"></avg-rate-per-night>-->
                <!--<book-button [room]="room"></book-button>-->
            </tr>


            </tbody>
        </table>
    </article>
</div>
