<div class="room-basic-info">

<!-- ngFor room.offers -->
    <div *ngFor="let offer of offers; let i = index;">
        <div *ngFor="let o of offer[i]">
           <p *ngIf="o[0] == 'ratePlanCode'">{{o}}</p>
        </div>
    </div>
    <div *ngIf="room.showBestValue" class="best-value">
        <span class="icon icon-shop" aria-hidden="true"></span>
        &nbsp;Best Value!
    </div>

    <div *ngIf="room.description" class="menu-bar room-description-menu-bar exp9784-5">
        <ul class="menu-bar-inner">
            <li>
                <button type="button"
                        data-control="menu"
                        data-auto-pos="true"
                        class="trigger-link menu-trigger btn-text theme-standard pin-left menu-arrow"
                        aria-expanded="false"
                        data-track="HOT.HIS.RoomsAndRates.ShowRoomInformation">
                    <span class="btn-label">
                        <span class="icon icon-info"
                              aria-hidden="true"></span>&nbsp;
                        <span class="icon icon-info"
                              aria-hidden="true"></span>
                        {{room.name}}</span>
                </button>
                <div class="menu room-description-menu" aria-hidden="true">
                    <div class="menu-main">

                        <!-- SAFE HTML -->
                        <div class="paragraph-hack" [innerHTML]="room.description"></div>
                    </div>
                    <footer class="menu-footer">
                        <div class="menu-close">
                            <button type="button" class="close btn-text">
                                <span class="btn btn-label">Close
                                    <span class="icon icon-close"
                                          aria-hidden="true"></span></span></button>
                        </div>
                    </footer>
                </div>
            </li>
        </ul>
    </div>

    <span *ngIf="room.hasRoomView" class="badge badge-notification room-with-view">Room with view</span>
    <span class="square-area">{{room.roomSquareFeet}} square feet</span>
    <div class="bed-types bold-bed-types">{{room.beddingOptions[0]}}</div>
    <div class="extra-bed-types"> (Extra beds available: Crib)</div>
    <p class="max-occupancy-text"><span class="max-guest-msg">  Room sleeps {{room.maxGuests}} guests  </span>
        <span class="child-msg">  (up to {{room.maxChildren}} children)  </span>
    </p>
</div>
